<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlblog.jlblog.dao.ArticleMapper">
    
    <resultMap type="com.jlblog.jlblog.pojo.ArticleVo" id="aritcleVo">
    	<result property="id" column="id"/>
    	<result property="title" column="title"/>
    	<result property="intro" column="intro"/>
    	<result property="createtime" column="createtime"/>
    	<result property="browsenumber" column="browsenumber"/>
    	<result property="commentnumber" column="commentnumber"/>
    	<result property="articleimg" column="articleimg"/>
    	<result property="classify" column="classify"/>
    	<result property="articleDetails" column="details"/>    	
    </resultMap>
    
    <select id="getArticleByClassify" parameterType="string" resultMap="aritcleVo">
    	SELECT * FROM article WHERE classify = #{classify}
    </select>

	<!-- 查询文章内容 -->
    <select id="getArticleById" parameterType="string" resultMap="aritcleVo">
    	SELECT a.*,ad.details
		FROM article a,articledetails ad
		WHERE ad.aid = a.id
		AND a.id = #{id}
    </select>
    
    <!-- 根据文章id查询标签 -->
    <select id="getLaberByAid" parameterType="string" resultType="com.jlblog.jlblog.pojo.Laber">
    	SELECT l.* FROM laber l,laberarticle la
		WHERE la.aid=#{id}
		AND la.lid = l.id
    </select>
    
    <select id="getCorrelationArticle" parameterType="string" resultType="com.jlblog.jlblog.pojo.ArticleVo">
    	SELECT id,title,createtime
		FROM article
		WHERE classify = #{classify}
		LIMIT 0,10
    </select>
    
     <!-- 网页首页展示 文章类型不同   最新添加的 4篇文章 -->
    <select id="getIndexArticle" resultType="com.jlblog.jlblog.pojo.ArticleVo">
    	SELECT * FROM article a
		WHERE a.id = (SELECT id FROM article b WHERE a.classify=b.classify ORDER BY createtime DESC LIMIT 1)
    </select>
    
    <!-- 修改文章的浏览量 -->
    <update id="updateArticleBrowsenumber" parameterType="string">
    	UPDATE article 
		SET browsenumber = (browsenumber+1)
		WHERE id = #{id}
    </update>
    
    
</mapper>
